* {
    margin: 0;
    padding: 0;
}

/* body styles */
body {
    color: #39a6b2;
    font-family: Helvetica, Arial, sans-serif;
}

/* header styles */
header {
    padding: 20px 35px;
    background-color: #39a6b2;
}

/* headers h1 style */
header h1 {
    font: bold 36px;
    color: #fce138;
    margin: 0;
    display: inline;
}

/* headers reference element style */
header a {
    text-decoration: none;
    color: #fce138;
}

/* headers nav styles */
header nav {
    float: right;
    margin: 7px 0;
}

/* headers navs list styles */
header nav ul li {
    display: inline;
}

/* headers navs lists reference elements styles */
header nav ul li a {
    margin: 0 30px;
    font: 22px lighter;
}