* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* body styles */
body {
    color: #39a6b2;
    font-family: Helvetica, Arial, sans-serif;
}

/* header styles */
header {
    padding: 20px 35px;
    background-color: #39a6b2;
}

/* style for Run Buddy in header */
header h1 {
    font: bold 36px;
    color: #fce138;
    margin: 0;
    display: inline;
}

/* Color text in header */
header a {
    text-decoration: none;
    color: #fce138;
}

/* positioning for links in header list */
header nav {
    float: right;
    margin: 7px 0;
}

/* put all links in header in the same line */
header nav ul li {
    display: inline;
}

/* styles for the links in header list */
header nav ul li a {
    margin: 0 30px;
    font: 22px lighter;
}

/* footer style */
footer {
    background: #fce138;
    padding: 40px 35px;
    width: 100%;
}

/* style for made with love in footer */
footer h2 {
    display: inline;
    color: #024e76;
    font-size: 30px;
    margin: 0;
}

/* postioning for privacy and copyright text in footer*/
footer div {
    float: right;
    line-height: 1.5;
    text-align: right;
}

/* color of the privacy and copyright text in footer */
footer a {
    color: #024e76;
}

/* basic style for sections */
section {
    padding: 60px;
}

/* basic style for hero banner */
.hero {
    background-image: url("../images/hero-bg.jpg");
    background-size: cover;
    background-position: center;
    height: 600px;
    position: relative;
}

/* style for the hero banners form */
.hero-form {
    color: #024e76;
    background-color: #fce138;
    position: absolute;
    padding: 20px;
    width: 500px;
    border: #024e76 solid 3px;
    bottom: 120px;
    right: 140px;
}

/* modify the spacing of the h3 element */
.hero-form h3 {
    font-size: 24px;
    margin: 0;
}

/* modify the spacing around the form itself in the hero banner */
.hero-form p {
    margin: 5px 0 15px 0;
}

.form-input {
    border: 1px;
    display: block;
    padding: 7px 15px;  
    font-size: 16px;
    color: #024e76;
    width: 100%;
    margin-bottom: 15px;
}


.prev-trainer {
    margin: 0 5px;
}


.hero-form button {
    color: #fce138;
    background-color: #024e76;
    padding: 10px 20px;
    border: none;
    font: 16px bold;
}